*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'agency fb';
    background: url('reindeer.png') no-repeat;
    background-position: 50%;
    background-size: cover;
}

ul{
    list-style: none;
}